#card {
  background-color: $background_grey;

  #step3 {
    width: 100%;
    border-radius: 50% 50% 50% 50%;
    text-align: center;
    margin-top: 5%;

    #step3img {
      width: 75%;
    }
  }

  #stepcounter {
    display: inline-grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 auto;
    p {
      color: $black;
    }
  }

  /*   #step1,
  #step2,
  #step3 {
    border-radius: 50% 50% 50% 50%;
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 300%;
  } */

  #line1,
  #line2 {
    text-align: center;
  }

  #betalingsmetode {
    font-family: "GT-Walsheim";
    src: url("../assets/fonts/GT-Walsheim-Regular.woff") format("woff");
    font-weight: 300;

    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
  }

  #payment {
    max-width: 100%;
    margin: 0 auto;

    #paymentimg {
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-bottom: 10%;
      width: 90%;
    }
  }

  .option-box {
    margin: 0 auto;
  }

  .ordrebillede img {
    max-width: 90%;
  }

  .option-box .options {
    border-bottom: 1px solid rgb(26, 26, 26);
    .choice {
      font-size: 12px;
      height: calc(20vh - 10px);
      .ordrebillede {
        grid-column-start: span 5;
        grid-column-end: auto;
        //height: calc(30vw);
        display: flex;
        align-items: center; /* Vertical center alignment */
        justify-content: center;
      }

      .text {
        font-size: 14px;
        grid-column-start: span 3;
        grid-column-end: auto;
        text-align: center;
        display: flex;
        align-items: center; /* Vertical center alignment */
        justify-content: center;
      }

      .extra {
        grid-column-start: span 2;
        grid-column-end: auto;
        align-items: flex-end;
        justify-content: end;
      }

      .ordrebillede2 {
        grid-column-start: span 6;
        grid-column-end: auto;
      }

      .text2 {
        font-size: 12px;
        grid-column-start: span 4;
      }
    }
  }

  #betingelser img {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 90%;
    max-width: 90%;

    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  #betingelser2 img {
    margin-top: 20%;
    margin-bottom: 10%;
    width: 90%;
    max-width: 90%;

    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
