#details {
  background-color: $background_grey;

  .stepps {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

  input {
    height: 28px;
    border: 0;
    font-size: 12px;
    padding-left: 10px;
  }

  .kunde {
    font-weight: 300;
    text-align: center;
    margin-top: 10%;
  }

  label {
    width: 87px;
    display: inline-block;
    font-family: "GT-Walsheim";
  }

  .bottomShipping {
    padding-bottom: 24px;
  }

  .postNo {
    width: 50px;
  }

  .form {
    font-size: 13px;
    box-sizing: border-box;
  }

  .by {
    width: 84px;
  }

  .star {
    color: red;
  }

  .choiceText {
    justify-content: center;
    align-items: center;
    background-color: #e9e8e8;
    max-width: 100%;
  }

  .choiceFrame {
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding-bottom: 33px;
  }

  .shipping {
    background-color: white;
    position: relative;
  }

  .image {
    display: inline-block;
  }

  .thick {
    width: 60%;
    padding: 18px;
  }

  .packets {
    width: 62%;
  }

  .logo {
    display: inline-block;
  }

  .paketBox {
    margin-top: -20px;
    font-weight: bold;
  }

  .bold {
    font-weight: bold;
    font-size: 30px;
  }

  img {
    width: 65%;
  }

  button {
    width: 92%;
    height: 50px;
    background-color: #81d742;
    position: absolute;
    left: 4%;
    color: white;
    font-size: 25px;
    font-family: "GT-Walsheim";
    border: 0px;
  }
  .option-box .options .choice .text {
    grid-column: span 7;
    text-align: left;
  }
  .option-box .options .choice .text p {
    margin: 10px 0px;
  }
  .option-box .options .choice {
    text-align: center;
    align-items: center; /* Vertical center alignment */
    justify-content: center;
    margin-bottom: 20px;
  }
  .option-box .options .choice .text h3 {
    margin-top: 5px;
    font-weight: bold;
    padding-left: 0px;
    padding-top: 0px;
  }
  .option-box.selected-option .options .choice .circle {
    grid-column: span 3;
  }

  .choice.selected .circle {
    width: 40px;
    height: 40px;
    border: 1px solid $border_grey;
    border-radius: 50%;
    background: $blue;
    grid-column: span 2;
  }
  button {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
